<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="wallet-outline" class="custom-icon"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <img src="assets\vechain.png" alt="Vechain Icon" />
      <ion-icon name="sync-outline" class="custom-icon" (click)="sync()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="warning-card">
    <p>⚠️ Warning: You have unsynced driving data. Sync to earn VET 🤑🤑🤑 ⚠️</p>
  </div>
  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
