ion-header {
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ion-toolbar {
  border-radius: 15px;
  padding: 0 10px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.custom-icon, img {
    width: 40px;
    height: 40px;
  }

  .warning-card {
    background-color: lightyellow;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    color: black;
  }
  
  .warning-card p {
    font-weight: bold;
  }
  
  .fade-out {
    animation: fadeOut 1s forwards;
  }
  
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }

  .custom-icon.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .chart-image {
    width: 100%;
    height: 30vh;
    object-fit: fill;
  }

  .gauge-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }