<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My Stats</ion-title>
    <ion-buttons slot="start">
      <ion-icon name="wallet-outline" class="custom-icon"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <img src="assets\vechain.png" alt="Vechain Icon" />
      <ion-icon
        name="sync-outline"
        class="custom-icon"
        [class.disabled]="isSynced"
        [class.spinning]="isSpinning"
        (click)="sync()"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="warning-card" *ngIf="!isSynced">
    <p>
      ⚠️ Warning: You have unsynced driving data. Sync to earn VET 🤑🤑🤑 ⚠️
    </p>
  </div>

  <ion-card *ngIf="currentBalanceSubject | async as currentBalance">
    <ion-card-header>
      <ion-card-title>Your Balance 💰</ion-card-title>
    </ion-card-header>
    <ion-card-content
      ><strong>{{ currentBalance }} VET</strong></ion-card-content
    >
  </ion-card>

  <ion-card>
    <ion-card-content>
      <img
        class="chart-image"
        src="assets/monthly_earnings_VET_2024-03-17.png"
        alt="Monthly Earnings Chart"
      />
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Safety Score</ion-card-title>
    </ion-card-header>

    <ion-card-content class="gauge-container">
      <ngx-gauge [value]="gaugeValue"> </ngx-gauge>
    </ion-card-content>
  </ion-card>
</ion-content>
