<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card>
      <ion-card-content>
        <img src="assets\carte.png" class="rounded-image" />
      </ion-card-content>
    </ion-card>

    <ion-card *ngFor="let data of historicData | async">
      <ion-card-content>
        <div class="card-content">
          <div>
            <p>Date: {{ data.date | date }}</p>
            <p>Distance Travelled: {{ data.distanceTravelled }} km</p>
            <p>VET Earned: {{ data.vetEarned }}</p>
            <p>Trip ID: {{ data.tripId }}</p>
          </div>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
