<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> AI Chat </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="message-bubble">
    <ion-card-content> how do I improve my safety score?  </ion-card-content>
  </ion-card>
  <ion-card class="message-bubble">
    <ion-card-content> do I brake too much?  </ion-card-content>
  </ion-card>
  <ion-card class="message-bubble">
    <ion-card-content>✨ powered by GPT-4 ✨</ion-card-content>
  </ion-card>

  <ion-item lines="none" class="custom-input">
    <ion-input placeholder="Ask a question..."></ion-input>
  </ion-item>
</ion-content>
